/*browser reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end browser reset*/




@font-face {
  font-family: 'avenir';
  src: url('../fonts/AvenirLTStd-LightOblique.otf');
  
}

body {
    background-image: url('../images/ticketsbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body img {
    max-width:100%;
    max-height:100%;
}

#navbar {
    z-index: 100;
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    
}

#navbar a:link, vistited, hover, active {
    color:white;
}

.navleft {
    z-index: 101;
    float: left;
    width: 55px;
    text-align: left;
    font-size: 5.2em;;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    
    
}

.navcenter {
    width: 55px;
    height: 100px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

.navcenter img {
   margin-left: auto;
   margin-right: auto;
   height: 80px;
   margin-top: 20px;
}

.navright {
    float: right;
    width: 55px;
    text-align: right;
    font-size: 5.2em;
    color: white;
    margin-right: 30px;
    margin-top: 22px;
    
}

#title {
    width: 100%;
    text-align: center;
    font-family: "avenir";
}

#title h2 {
    text-align: center;
    color: white;
    font-size: 5em;
}

#title p {
    font-size: 2em;
    text-align: center;
    color: white;
    line-height: -25px;
}

#title h3 {
    font-size: 2em;
    text-align: center;
    color: white;
    margin-top: 10px;
}

#title span {
    font-size: .5em;
}

#title img {
    
}

#links {
    margin-top: 100px;
    margin-right: auto;
    margin-left: 80px;
    width: 100%;
    text-align: left;
    font-family: 'avenir';
    font-size: 3em;
    font-style: bold;
}

#links a:link, a:visited, a:hover, a:active {
    color:white;
    text-decoration: none;
}

#linksimg {
    margin-top: 100px;
    max-width: 100%;
    height: auto;
    width: 100%;
}

#linksimg img {
    margin-top: -3px;
    max-width: 1150px;
    height: auto;
    width: 100%;
}